<!doctype html>
<html>
<head>
    <title>Cat Swipe - Login</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="/static/css/web_service.css"/>
</head>
<body>
<form action="{{ url_for('login.login_page') }}" method="post">
    {% if error_msg %}
        <div class="error">
            {{ error_msg }}
        </div>
    {% endif %}
    <div class="form_container">
        <p>
            <label for="username">Username:</label>
            <input type="text" name="username">
        </p>
        <p>
            <label for="password">Password:</label>
            <input type="password" name="password">
        </p>
        <p>
            <input type="submit">
        </p>
    </div>
</form>
</body>
</html>
